@charset "UTF-8";

/* Todas as demais midias.*/

/*Typical Device Breakpoints
Pequenas Telas e Celular: até 480px

Tablet e Foldables: 481px - 1024px

Desktop e Laptops:  1025px - 1600px

TV e Monitores Ultra-Wide:  1601px em diante
*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagens/back-print.jpg);/*Desnecessário*/
    }
    
    main{
        border: 2px solid black;
    }
    
    main::after{
        content: "Essa impressão foi feita atraves  do site www.cursoemvideo.com";
        text-decoration: overline;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    #phone{display: none;}
    #tab{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width: 480px) and (max-width: 1024px){/*Tablet e Foldables*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }    

    #phone{display: none;}
    #tab{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width:1024px) and (max-width:1600px) {/*Desktop e Laptops*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    
    #phone{display: none;}
    #tab{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}

@media screen and (min-width:1600px) {/*TV e Monitores Ultra-Wide*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        width: 700px;
    }
    
    #phone{display: none;}
    #tab{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}